<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="ServerHost" value="localhost" />
      <add key="ServerPort" value="5627" />
      <add key="ComPort" value="com1"/>
    </appSettings>
</configuration>